
.random-class-17374228 {
  color: rgb(24, 152, 177); margin: 17px; font-size: 47px; 
}

.vite-17374230 {
  background-color: rgb(170, 251, 224); border: 4px solid rgb(122, 70, 13); padding: 3px; font-size: 52px; 
}

.rec-amed-17374253 {
  margin: 8px; border-radius: 44%; width: 343px; background-color: rgb(34, 232, 143); font-size: 56px; 
}

.vite-17374253 {
  border: 5px solid rgb(157, 92, 158); padding: 8px; background-color: rgb(175, 208, 27); 
}

.rec-amed-17374254 {
  font-size: 40px; border: 4px solid rgb(67, 2, 89); background-color: rgb(148, 243, 201); 
}

.rec-amed-17374761 {
  background-color: rgb(60, 224, 193); color: rgb(215, 213, 239); font-size: 49px; margin: 19px; padding: 5px; 
}

.rec-amed-17374761 {
  font-size: 53px; width: 194px; color: rgb(67, 243, 31); border-radius: 27%; 
}

.vite-17374761 {
  margin: 5px; padding: 10px; height: 246px; 
}

.rec-amed-17375099 {
  font-size: 24px; margin: 7px; width: 307px; border: 3px solid rgb(212, 254, 155); background-color: rgb(96, 254, 78); 
}

.rec-amed-17375099 {
  padding: 4px; font-size: 54px; color: rgb(23, 129, 145); height: 100px; border: 3px solid rgb(221, 217, 200); 
}

.vite-17375099 {
  color: rgb(124, 253, 156); padding: 5px; height: 308px; background-color: rgb(2, 209, 59); 
}

.rec-amed-17375506 {
  margin: 19px; width: 119px; border: 3px solid rgb(141, 68, 63); 
}

.vite-17375506 {
  border-radius: 5%; height: 172px; font-size: 28px; border: 1px solid rgb(1, 92, 100); 
}

.rec-amed-17375506 {
  height: 121px; padding: 2px; font-size: 33px; 
}

.rec-amed-17375679 {
  margin: 19px; border-radius: 17%; padding: 16px; 
}

.vite-17375679 {
  height: 319px; border: 2px solid rgb(186, 137, 94); background-color: rgb(129, 234, 137); width: 110px; padding: 2px; 
}

.rec-amed-17375679 {
  width: 351px; border: 3px solid rgb(69, 108, 255); background-color: rgb(234, 104, 234); 
}

.rec-amed-17376383 {
  margin: 3px; height: 171px; background-color: rgb(20, 149, 176); border-radius: 16%; width: 211px; 
}

.rec-amed-17376383 {
  margin: 19px; width: 341px; border: 1px solid rgb(253, 187, 4); 
}

.rec-amed-17378247 {
  height: 290px; color: rgb(251, 85, 22); border: 4px solid rgb(93, 190, 255); padding: 1px; 
}

.vite-17378247 {
  padding: 13px; border: 3px solid rgb(120, 226, 222); background-color: rgb(82, 83, 27); height: 277px; 
}

.rec-amed-17380204 {
  background-color: rgb(3, 138, 17); padding: 15px; font-size: 21px; margin: 15px; 
}

.vite-17380204 {
  border-radius: 5%; border: 2px solid rgb(149, 105, 225); background-color: rgb(246, 91, 126); font-size: 36px; color: rgb(11, 178, 233); 
}

.rec-amed-17381202 {
  margin: 1px; width: 222px; color: rgb(138, 238, 220); 
}

.vite-17381202 {
  width: 139px; margin: 6px; color: rgb(234, 158, 50); 
}

.rec-amed-17382038 {
  color: rgb(42, 93, 13); background-color: rgb(226, 17, 179); width: 119px; border-radius: 34%; height: 360px; 
}

.vite-17382038 {
  color: rgb(230, 188, 80); padding: 13px; margin: 17px; 
}

.rec-amed-17382038 {
  border: 3px solid rgb(219, 50, 60); height: 352px; width: 266px; 
}

.vite-17382038 {
  background-color: rgb(190, 77, 48); border: 4px solid rgb(240, 229, 3); height: 240px; font-size: 27px; 
}

.rec-amed-17382693 {
  font-size: 57px; width: 146px; background-color: rgb(232, 226, 133); padding: 9px; height: 118px; 
}

.vite-17382693 {
  margin: 11px; color: rgb(121, 34, 129); height: 133px; 
}

.rec-amed-17384492 {
  margin: 6px; padding: 6px; font-size: 38px; 
}

.vite-17384492 {
  border: 1px solid rgb(112, 55, 126); font-size: 54px; margin: 10px; width: 145px; background-color: rgb(141, 0, 170); 
}

.rec-amed-17384492 {
  height: 265px; color: rgb(222, 213, 87); margin: 14px; 
}
