
.random-class-17374228 {
  color: rgb(24, 152, 177); margin: 17px; font-size: 47px; 
}

.vite-17374230 {
  background-color: rgb(170, 251, 224); border: 4px solid rgb(122, 70, 13); padding: 3px; font-size: 52px; 
}

.rec-amed-17374253 {
  margin: 8px; border-radius: 44%; width: 343px; background-color: rgb(34, 232, 143); font-size: 56px; 
}

.vite-17374253 {
  border: 5px solid rgb(157, 92, 158); padding: 8px; background-color: rgb(175, 208, 27); 
}

.rec-amed-17374254 {
  font-size: 40px; border: 4px solid rgb(67, 2, 89); background-color: rgb(148, 243, 201); 
}

.rec-amed-17374761 {
  background-color: rgb(60, 224, 193); color: rgb(215, 213, 239); font-size: 49px; margin: 19px; padding: 5px; 
}

.rec-amed-17374761 {
  font-size: 53px; width: 194px; color: rgb(67, 243, 31); border-radius: 27%; 
}

.vite-17374761 {
  margin: 5px; padding: 10px; height: 246px; 
}
